<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="index.html">MORTGAUGE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">About</a></li>
                <li><a class="nav-link scrollto" href="#calculator">Calculator</a></li>
                <li><a class="nav-link" href="https://github.com/Tuzi555/Mortgage-Calc" target="_blank">
                    <img src="assets/img/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png">
                </a></li>
                <li><a class="nav-link" href="https://www.linkedin.com/in/jakub-tuzar/" target="_blank">
                    <img src="assets/img/linkedin-icon-18-ffffff-32.png">
                </a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->