@page "/counter"
@using Microsoft.AspNetCore.Mvc
@using Mortgage_Calc.Data

<PageTitle>Counter</PageTitle>

<h1>Mortgauge</h1>


<EditForm Model="@_mortgageFormModel" OnValidSubmit="CalculateMortgage">
    <label for="loan-amount">Loan amount</label>
    <br/>
    <InputNumber @bind-Value="_mortgageFormModel.LoanAmount" class="form-control" id="loan-amount" placeholder="Fill in your loan amount."/>
    <label for="rate">Interest rate</label>
    <br/>
    <InputNumber @bind-Value="_mortgageFormModel.Rate" class="form-control" id="rate" placeholder="Fill in your interest rate."/>
    <label for="term">Term in years</label>
    <br/>
    <InputNumber @bind-Value="_mortgageFormModel.Term" class="form-control" id="term" placeholder="Fill in your term in years."/>
    <button type="submit" class="btn-primary">Calculate</button>
</EditForm>
<h1>Monthly payment: @MonthlyPayment</h1>


@code {

    private readonly MortgageFormModel _mortgageFormModel = new();
    private double MonthlyPayment { get; set; }

    private void CalculateMortgage()
    {
        var monthlyRate = ((_mortgageFormModel.Rate ?? 0) / 100) / 12;
        var months = (_mortgageFormModel.Term ?? 0) * 12;
        MonthlyPayment = (_mortgageFormModel.LoanAmount ?? 0) * ((monthlyRate * Math.Pow((1 + monthlyRate), months)) / (Math.Pow((1 + monthlyRate), months) - 1));
    }

}