@page "/"
@using Mortgage_Calc.Data
@using System.Globalization
@using Microsoft.AspNetCore.Localization

<PageTitle>Mortgauge</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <EditForm Model="@_mortgage" OnValidSubmit="_mortgage.CalculateMortgage">
                <DataAnnotationsValidator/>

                <div class="form-floating mb-3">
                    <InputNumber @bind-Value="_mortgage.LoanAmount" ParsingErrorMessage="_mortgage.LoanAmount.ErrorMessage" class="form-control" id="loan-amount" placeholder="2000000" aria-describedby="loan-help"/>
                    <label for="loan-amount">Loan amount</label>

                </div>
                <div class="form-floating mb-3">
                    <InputNumber @bind-Value="_mortgage.Rate" ParsingErrorMessage="_mortgage.Rate.ErrorMessage" class="form-control" id="rate" placeholder="5.64"/>
                    <label for="rate">Interest rate</label>

                </div>
                <div class="form-floating mb-3">
                    <InputNumber @bind-Value="_mortgage.Term" ParsingErrorMessage="_mortgage.Term.ErrorMessage" class="form-control" id="term" placeholder="30"/>
                    <label for="term">Term in years</label>
                </div>

                <ValidationSummary/>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                    <button type="reset" class="btn btn-secondary" @onclick="ResetCalculator">Reset</button>
                </div>

            </EditForm>
        </div>
        <div class="container col-8">
            <div class="row">
                <p class="h1 col-6">Monthly payment:</p>
                <p class="h1 col-6 text-end">@_mortgage.MonthlyPayment.ToString("F")</p>
            </div>
            <div class="row">
                <p class="h1 col-6">Total amount:</p>
                <p class="h1 col-6 text-end">@_mortgage.TotalPaid.ToString("F")</p>
            </div>
            <div class="row">
                <p class="h1 col-6">Total interest:</p>
                <p class="h1 col-6 text-end"> @_mortgage.TotalInterest.ToString("F")</p>
            </div>
        </div>
    </div>

</div>

@code {
    private Mortgage _mortgage = new();

    private void ResetCalculator()
    {
        _mortgage = new Mortgage();
    }

}