@page "/"
@using Mortgage_Calc.Data

<PageTitle>Mortgauge</PageTitle>

<main id="main">
    <section id="calculator" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch order-lg-1 order-2">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-calendar-event"></i>
                            <h4>@_mortgage.MonthlyPayment.ToString("C")</h4>
                            <p>Monthly payment</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-currency-dollar"></i>
                            <h4>@_mortgage.TotalPaid.ToString("C")</h4>
                            <p>Total paid</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-bar-chart-fill"></i>
                            <h4>@_mortgage.TotalInterest.ToString("C")</h4>
                            <p>Total interest</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 mt-0 mt-lg-0 d-flex align-items-stretch order-lg-2 order-1 mb-3">
                    <EditForm class="php-email-form" Model="@_mortgage" OnValidSubmit="_mortgage.CalculateMortgage">
                        <DataAnnotationsValidator/>

                        <div class="form-group">
                            <label for="loan-amount">Loan amount</label>
                            <InputNumber @bind-Value="_mortgage.LoanAmount"
                                         ParsingErrorMessage="_mortgage.LoanAmount.ErrorMessage"
                                         class="form-control"
                                         id="loan-amount"/>

                        </div>
                        <div class="form-group">
                            <label for="rate">Interest rate</label>
                            <InputNumber @bind-Value="_mortgage.Rate"
                                         ParsingErrorMessage="_mortgage.Rate.ErrorMessage"
                                         class="form-control"
                                         id="rate"/>
                        </div>
                        <div class="form-group">
                            <label for="term">Term in years</label>
                            <InputNumber @bind-Value="_mortgage.Term"
                                         ParsingErrorMessage="_mortgage.Term.ErrorMessage"
                                         class="form-control"
                                         id="term"/>
                        </div>
                        <ValidationSummary/>

                        <div class="d-flex justify-content-evenly">
                            <button type="submit" class="btn btn-primary">Calculate</button>
                            <button type="reset" class="btn btn-secondary" @onclick="ResetCalculator">Reset</button>
                        </div>

                    </EditForm>
                </div>

            </div>

        </div>
    </section>

</main>

@code {
    private Mortgage _mortgage = new();

    private void ResetCalculator()
    {
        _mortgage = new Mortgage();
    }

}